
<h2 class="ui center aligned medium icon header">
  <i class="circular violet comments icon"></i>
  Chatroom
</h2>


<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card" id="chatbox">
      <div class="content"  id = "messages">
        <div class="ui feed">
          <div class="event">
            <div class="content" id = "message-container">
                <%= render @messages %>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content" id = "econ">
        <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
          <div class = "ui fluid icon input" id = "icon-input">
          <%= f.text_field :body%>
          <%= f.button '<i class="right bordered inverted yellow paper plane icon"></i>'.html_safe%>
          </div>
        <% end %>
      </div>
    </div>
  </div>



  <div class="four wide column">
    <div class="ui fluid raised card" id ="chatbox">
      <div class="content">
        <h2>Oniline Users</h2>
          <% @online_users.each do |u| %>
             <% if u.username != current_user.username %>
               <div class="ui inverted vertical menu">
                 <a class="active item">
                   <%= u.username %>
                 </a>
               </div>
              <% end %>
         <% end %>
      </div>
    </div>
  </div>
</div>
